.Keyboard.lines {
  font-size: larger;
  color: brown;
}

.button.buttonOther {
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f2f2f2;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: medium;
}

.button.buttonLetter {
  background-color: #07e75d;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: large;

}